.card-body{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
}
.cardtext{
    color: #171b1f;

}
.title{
    background-color: #f5f3f8;
    padding: 30px;
    width: 26%;
    border-radius: 5%;
    height: 35%;
    position: absolute;
    bottom: 0;
    font-style: Bree serif;
}
.card-title{
    color: #5752ab;
    font-style: Bree serif;

 
}
.button-1{
    margin-left: 17px;
    width: 149px;
    border-radius: 8px;
}
.button-2{
    margin-left: 40px;
    color: #ffffff;
    background-color: #171f46;
    border-radius: 8px;
    width: 149px;
    height: 39px;
}
