
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #3387cc;
    color: #ffffff;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #06181f;
    color: #ffffff;
    box-shadow:1px 3px rgba(0,0,0,0.12), 
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
