.container{
    background-color: #e9edf3;
    width: 70vw;
    height: 65vh
   
   
}
.top{
    padding-left: 250px;
    color: #183b56;
    font-weight: bold;
    font-size: 50px;
}

.button{
    padding-left: 400px;
    padding-top: 30px;
    font-size: x-large;
  
}