* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background-image: url(../images/bg-ground.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

ul {
    list-style: none;
    background: #000000;
    padding: 10px;
}

ul li {
    display: inline;
    padding: 5px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

.logo {

    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    max-width: 180px;

}